<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css' integrity='sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="./assets/main/style.css">
  <title>Vue Slider</title>
</head>
<body>
  <div id="app">
    <div class="main-vrapper flex-column">
      <div 
      @mouseover="stopAutoPlay()" 
      @mouseleave="resumeAutoplay()"
      v-on:dblclick="reverseRotation()" 
      class="full-carousell">
        <div class="carousel">
  
          <!-- img -->
          <div class="img-container">
            <img :src="imgContainer[counter].img" alt="">
          </div>
    
          <!-- arrow button -->
          <div @click="loopSlider(false)" class="arrow-btn top"><i class="fa-solid fa-chevron-up"></i></div>
          <div @click="loopSlider(true)" class="arrow-btn bottom"><i class="fa-solid fa-chevron-down"></i></div>
    
        </div>
        <div class="preview">
          <div v-if="counter === 0" id="select1" class="img-preview selected">
            <img :src="imgContainer[0].img" alt="img1">
          </div>
          <div v-else @click="counter = 0" id="select1" class="img-preview shadow">
            <img :src="imgContainer[0].img" alt="img1">
          </div>
          <div v-if="counter === 1" id="select1" class="img-preview selected">
            <img :src="imgContainer[1].img" alt="img1">
          </div>
          <div v-else @click="counter = 1" id="select1" class="img-preview shadow">
            <img :src="imgContainer[1].img" alt="img1">
          </div>
          <div v-if="counter === 2" id="select1" class="img-preview selected">
            <img :src="imgContainer[2].img" alt="img1">
          </div>
          <div v-else @click="counter = 2" id="select1" class="img-preview shadow">
            <img :src="imgContainer[2].img" alt="img1">
          </div>
          <div v-if="counter === 3" id="select1" class="img-preview selected">
            <img :src="imgContainer[3].img" alt="img1">
          </div>
          <div v-else @click="counter = 3" id="select1" class="img-preview shadow">
            <img :src="imgContainer[3].img" alt="img1">
          </div>
          <div v-if="counter === 4" id="select1" class="img-preview selected">
            <img :src="imgContainer[4].img" alt="img1">
          </div>
          <div v-else @click="counter = 4" id="select1" class="img-preview shadow">
            <img :src="imgContainer[4].img" alt="img1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/js/script.js"></script>
</body>
</html>